@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

/* ----------------- ROOT STYLES ----------------- */

:root {
    /* Colors */
    --main-color: #EE7674;
    --main-color-light: #F3B3B2;
    --black-color: #292929;
    --black-color-light: #5A5A5A;
    --title-color: #080808;
    --text-color: #fefefe;
    --body-color: #141414;
    --container-color: #252525;
    --white-color: #fefefe;

    /* Miscellaneous */
    --body-font: 'Bai Jamjuree', sans-serif;
    --title-size: 2.5rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: .9rem;
    --small-font-size: .85rem;
    --smallest-font-size: .8rem;

    /* Font Weight */
    --normal-weight: 400;
    --medium-weight: 500;
    --semibold-weight: 600;
    --bold-weight: 700;

}

/* ----------------- GLOBAL STYLES ----------------- */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body.darkmode {
    /* Colors */
    --main-color: #EE7674;
    --main-color-light: #F3B3B2;
    --black-color-light: #696969;
    --title-color: #050505;
    --text-color: #000;
    --body-color: #EEEEEE;
    --container-color: #d6d6d6;
}

body {
    font-family: var(--body-font);
    background-color: var(--body-color);
    color: var(--text-color);
    font-size: var(--normal-font-size);
    position: relative;
    transition: background-color .4s;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

li {
    list-style: none;
}

img {
    width: 100%;
}

button {
    border: none;
    outline: none;
}

/* ----------------- GLOBAL CLASSES ----------------- */

.main {
    position: relative;
}

.grid {
    display: grid;
    gap: 1.5rem;
    margin: 0 2rem;
}

.section {
    padding-block: 4rem 2rem;
}

/* ----------------- HEADER ----------------- */

.header {
    width: 100%;
    margin: 0 auto;
    background-color: var(--body-color);
}

.nav {
    position: fixed;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: .9rem;
    font-size: var(--h3-font-size);
    z-index: 100;
    width: 100%;
    background-color: var(--body-color);
    transition: background-color .4s, box-shadow .4s;
}

.nav__logo {
    display: flex;
    color: var(--text-color);
    gap: 1rem;
    align-items: center;
    font-weight: var(--medium-weight);
}

.nav__icon {
    background-color: var(--main-color);
    padding: .45rem;
    border-radius: 50%;
    transition: background-color .4s;
}

.nav__icon:hover {
    background-color: var(--black-color-light);
}

.nav__name {
    font-weight: var(--bold-weight);
}

.nav__buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.menu__icon {
    background-color: var(--main-color);
    padding: .5rem;
}

.close__icon {
    display: flex;
    position: absolute;
    color: var(--white-color);
    font-size: var(--h1-font-size);
    top: -100%;
    right: 1rem;
    transition: top .4s;
    cursor: pointer;
}

.nav__list {
    display: none;
}

/* NAV MOBILE */

.nav__mobile {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsla(0, 0%, 0%, .85);
    top: -100%;
    width: 100%;
    padding: 1.8rem 5rem 5rem;
    gap: 2rem;
    transition: top .4s, background-color .4s;
    z-index: 100;
}

.menu__title {
    font-size: var(--small-font-size);
    color: var(--white-color);
}

.menu__name {
    position: relative;
    font-size: var(--h3-font-size);
    color: var(--white-color);
}

.menu__name::before {
    content: '';
    width: 2rem;
    background-color: var(--white-color);
    position: absolute;
    top: 50%;
    left: -3rem;
    height: 1px;
}

.menu__name::after {
    content: '';
    width: 2rem;
    background-color: var(--white-color);
    position: absolute;
    top: 50%;
    right: -3rem;
    height: 1px;
}

.menu__list {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    text-align: center;
    font-size: var(--h3-font-size);
}

.nav__item {
    position: relative;
}

.nav__link {
    color: var(--text-color);
}

.nav__link::after {
    content: '';
    width: 0rem;
    background-color: var(--text-color);
    position: absolute;
    bottom: -25%;
    left: 0;
    height: 3px;
    transition: width .4s;
}

/* ----------------- HOME ----------------- */

.home__container {
    min-height: 85vh;
    justify-content: center;
    align-items: center;
}

.home__name {
    font-size: var(--title-size);
    align-self: flex-end;
    justify-self: center;
}

.home__perfil {
    position: relative;
    justify-self: center;
    width: 180px;
}

.home__shadow {
    position: absolute;
    top: -.75rem;
    left: .75rem;
    width: 100%;
    height: 100%;
    background-color: var(--body-color);
    border: 4px solid var(--black-color);
    z-index: -10;
}

.home__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: var(--medium-weight);
    margin-top: 3rem;
}

.home__curved__arrow,
.home__random__lines {
    position: absolute;
    width: 50px;
    z-index: -100;
    filter: none;
    animation: filter .4s;
}

.home__curved__arrow {
    bottom: -4.5rem;
    left: 40%;
}

.home__random__lines {
    bottom: -1rem;
    right: -2rem;
}

.home__geometric__shadow {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 2rem;
    left: -1rem;
    rotate: -35deg;
    background-color: var(--main-color);
    transition: rotate .4s;
}

.home__geometric__shadow:hover {
    rotate: -50deg;
}

.home__geometric__box {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -.5rem;
    top: -.5rem;
    border: 3px solid var(--black-color);
    background-color: transparent;
}

.home__social {
    position: absolute;
    display: flex;
    height: 100%;
    flex-direction: column;
    top: 0;
    left: -4rem;
    justify-content: center;
    gap: 1rem;
}

.home__link {
    padding: .5rem;
    background-color: var(--black-color-light);
    font-size: var(--h3-font-size);
    transition: all .4s;
}

.home__link:hover {
    background-color: var(--body-color);
}

/* Scroll Button */

.home__scroll {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: .5rem;
    align-items: center;
    color: var(--main-color);
}

.home__scroll span {
    color: var(--text-color);
    font-size: var(--smallest-font-size);
}

.scroll__button {
    background-color: var(--black-color);
    width: 36px;
    height: 36px;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.scroll__button i {
    justify-self: center;
    font-size: var(--h2-font-size);
    animation: home_scroll 2s infinite;
}

@keyframes home_scroll {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }

    50% {
        transform: translateY(0%);
        opacity: 1;
    }

    100% {
        transform: translateY(50%);
        opacity: 0;
    }
}

/* ----------------- ABOUT ----------------- */

.about {
    background-color: var(--container-color);
}

.about__container {
    justify-content: center;
    align-items: center;
}

.about__name {
    padding-top: 1rem;
    font-size: var(--h2-font-size);
    width: 100%;
    padding-bottom: 2rem;
    position: relative;
}

.about__name span {
    display: block;
    width: fit-content;
    -moz-fit-content: fit;
    margin: 0 auto;
    position: relative;
    z-index: 10;
}

.about__name span::after {
    content: '';
    width: 50px;
    height: 25px;
    position: absolute;
    top: 0;
    right: -.5rem;
    background-color: hsla(1, 78%, 69%, .75);
    z-index: -1;
}

.about__perfil {
    position: relative;
    justify-self: center;
    width: 180px;
    padding-bottom: 3rem;
}

.about__image {
    position: relative;
    z-index: 1;
    border: 5px solid var(--text-color);
    transition: border .4s;
}

.about__shadow {
    position: absolute;
    top: -1rem;
    left: 50%;
    width: 150px;
    height: 385px;
    background-color: var(--body-color);
    border-bottom: 4px solid var(--main-color);
    z-index: 0;
}

.about__random__lines {
    position: absolute;
    width: 50px;
    z-index: 0;
    top: 0;
    right: -2rem;
}

.about__geometric__shadow {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 4rem;
    right: -3rem;
    rotate: -35deg;
    background-color: var(--main-color);
    transition: rotate .4s;
}

.about__geometric__shadow:hover {
    rotate: -50deg;
}

.about__geometric__box {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -.5rem;
    top: -.5rem;
    border: 3px solid var(--black-color);
    background-color: transparent;
}

.about__box {
    position: absolute;
    width: 25px;
    height: 50px;
    bottom: 5rem;
    right: -1rem;
    background-color: var(--main-color);
}

.about__info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.about__description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about__description__1,
.about__description__2 {
    position: relative;
}

.about__description__1::after {
    content: '';
    width: 1rem;
    background-color: var(--text-color);
    position: absolute;
    top: .5rem;
    left: -1.25rem;
    height: 1px;
}

.about__description__2::after {
    content: '';
    width: 8px;
    height: 8px;
    background-color: var(--text-color);
    position: absolute;
    top: .5rem;
    left: -1.25rem;
}

.about__buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.about__button {
    background-color: var(--body-color);
    font-size: var(--small-size);
    font-weight: var(--medium-weight);
    padding: .5rem;
    transition: background-color .4s;
}

.about__button:hover {
    background-color: var(--main-color);
}

.about__link {
    padding: .5rem .75rem;
    border: 3px solid var(--body-color);
    display: flex;
    align-items: center;
    transition: border .4s;
}

.about__link:hover {
    border: 3px solid var(--main-color);
}

/* ----------------- SERVICES ----------------- */

.services__container {
    grid-template-columns: 240px;
    justify-content: center;
    padding-top: 1rem;
}

.services__name {
    padding-top: 1rem;
    font-size: var(--h2-font-size);
    width: 100%;
    padding-bottom: 2rem;
}

.services__name span {
    display: block;
    width: fit-content;
    margin: 0 auto;
    z-index: 10;
    position: relative;
}

.services__name span::after {
    content: '';
    width: 50px;
    height: 25px;
    position: absolute;
    top: 0;
    right: -.5rem;
    background-color: hsla(1, 78%, 69%, .75);
    z-index: -1;
}

.services__card {
    position: relative;
    background-color: var(--body-color);
}

 .card__border {
    width: 100%;
    height: 100%;
    border: 4px solid var(--black-color-light);
    position: absolute;
    top: 0;
    left: 0;
    transition: top .4s, left .4s;
    z-index: 1;
} 


.services__card::after {
    content: '';
    width: 96%;
    height: 96%;
    position: absolute;
    top: 0;
    left: 0;
    border: 4px solid hsla(1, 78%, 69%, .75);
    z-index: -1;
    transition: top .4s, left .4s;
}

.services__card:hover::after{
    top: 1.5rem;
    left: 1.5rem;
}

.services__content {
    padding: 6rem 2rem 3rem;
    height: 100%;
    background-color: var(--body-color);
}

.services__icon {
    width: auto;
    height: auto;
    font-size: var(--h1-font-size);
    position: relative;
    display: inline-block;
    padding-bottom: .5rem;
}

.services__icon i {
    position: relative;
    z-index: 10;
}

.services__box {
    width: 24px;
    height: 24px;
    background-color: var(--main-color);
    position: absolute;
    top: -.25rem;
    right: -.25rem;
    z-index: 10;
}

.services__title {
    font-size: var(--h3-font-size);
    padding-bottom: 1.5rem;
}

.services__description {
    color: var(--text-color);
}

/* ----------------- PROJECTS ----------------- */

.projects {
    background-color: var(--container-color);
}

.projects__name {
    padding-top: 1rem;
    font-size: var(--h2-font-size);
    width: 100%;
    padding-bottom: 2rem;
}

.projects__name span {
    display: block;
    width: fit-content;
    margin: 0 auto;
    position: relative;
    z-index: 10;
}

.projects__name span::after {
    content: '';
    width: 50px;
    height: 25px;
    position: absolute;
    top: 0;
    right: -.5rem;
    background-color: hsla(1, 78%, 69%, .75);
    z-index: -1;
}

.projects__card {
    padding: 1rem 1rem 2rem;
    transition: background-color .4s;
}

.projects__card:hover {
    background-color: var(--body-color);
}

.projects__img {
    padding-bottom: .75rem;
    position: relative;
}

.projects__button {
    background-color: var(--black-color-light);
    position: absolute;
    bottom: -.5rem;
    right: -.5rem;
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    font-size: var(--h3-font-size);
    cursor: pointer;
    transition: background-color .4s;
}

.projects__button:hover {
    background-color: var(--main-color);
}

.projects__subtitle {
    padding-bottom: .75rem;
    position: relative;
    padding-left: 1.75rem;
    width: fit-content;
}

.projects__subtitle::after {
    content: '';
    width: 1rem;
    background-color: var(--text-color);
    position: absolute;
    top: 30%;
    left: .25rem;
    height: .5px;
}

.projects__title {
    padding-bottom: .75rem;
}

.projects__description {
    padding-bottom: 1.25rem;
}

.projects__links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.projects__link {
    transition: color .4s;
}

.projects__link:hover {
    color: var(--main-color);
}


/* ----------------- CONTACT ----------------- */

.contact__container {
    max-width: 720px;
    margin: 0 auto;
}

.contact__card {
    background-color: var(--container-color);
    padding: 3rem 1.5rem 3.5rem;
    border-bottom: .25rem solid var(--main-color);
    position: relative;
    margin-left: auto;
    width: 300px;
    z-index: 1;
}

.contact__name {
    font-size: var(--h2-font-size);
    padding-bottom: 2rem;
    position: relative;
    left: -7rem;
}

.contact__name span {
    display: block;
    width: fit-content;
    margin: 0 auto;
    position: relative;
    z-index: 10;
}

.contact__name span::after {
    content: '';
    width: 50px;
    height: 35px;
    position: absolute;
    bottom: 0;
    right: -.5rem;
    background-color: hsla(1, 78%, 69%, .75);
    z-index: -1;
}

.contact__geometric__shadow {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 2rem;
    right: 3rem;
    rotate: -35deg;
    background-color: var(--main-color);
    transition: rotate .4s;
}

.contact__geometric__shadow:hover {
    rotate: -50deg;
}

.contact__geometric__box {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -.5rem;
    top: -.25rem;
    border: 3px solid var(--black-color);
    background-color: transparent;
}

.contact__description {
    padding-bottom: 2rem;
    font-weight: var(--semibold-weight);
}

.contact__mail {
    background-color: var(--container-color);
    margin-top: -2.5rem;
    padding: 5rem 1.5rem 2rem;
}

.contact__title {
    font-size: var(--h3-font-size);
    width: 100%;
    position: relative;
    padding-bottom: 2.5rem;
}

.contact__title span {
    display: block;
    width: fit-content;
    margin: 0 auto;
}

.form__message {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

input {
    border: 3px solid var(--black-color-light);
    background-color: var(--container-color);
    padding: 1rem .75rem;
    width: 100%;
    color: var(--white-color);
}

.contact__input {
    position: relative;
}

.contact__label {
    position: absolute;
    top: -1rem;
    left: 1rem;
    background-color: var(--container-color);
    padding: .5rem 1rem;
    color: var(--text-color);
    opacity: 0;
    transition: opacity .4s;
}

input::placeholder,
textarea::placeholder {
    transition: opacity .4s;
}

textarea {
    display: block;
    background-color: var(--container-color);
    width: 100%;
    height: 120px;
    resize: none;
    border: 3px solid var(--black-color-light);
    font-family: var(--body-font);
    padding: 1rem .5rem;
    color: var(--white-color);
}

input:focus,
textarea:focus {
    outline: none;
    border: 3px solid var(--white-color);
}

input:focus::placeholder,
textarea:focus::placeholder {
    opacity: 0;
}

input:focus+label,
textarea:focus+label {
    opacity: 1;
}

.form__button {
    background-color: var(--main-color);
    padding: 1rem .5rem;
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: color .4s, background-color .4s;
}

.form__button:hover {
    color: var(--main-color);
    background-color: var(--body-color);
}

.contact__social {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}

.social__description__1 {
    padding-bottom: .25rem;
}

.social__description__2 {
    padding-bottom: 1rem;
}

.contact__curved__arrow {
    width: 34px;
    padding-bottom: 1rem;
    z-index: -100;
}

.contact__links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.contact__link {
    background-color: var(--container-color);
    padding: .5rem;
    font-size: var(--h3-font-size);
    transition: background-color .4s;
}

.contact__link:hover {
    background-color: var(--main-color);
}

/* ----------------- FOOTER ----------------- */

footer {
    width: 100%;
    background-color: var(--container-color);
}

.footer__links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}

.footer__link {
    transition: color .4s;
}

.footer__link:hover {
    color: var(--black-color-light);
}

.footer__copy {
    width: 100%;
    text-align: center;
    padding-bottom: 3rem;
    font-size: var(--smallest-font-size);
}

.gohome__button {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: -5rem;
    right: 1rem;
    display: grid;
    place-items: center;
    background-color: var(--text-color);
    color: var(--main-color);
    transition: background-color .4s;
    cursor: pointer;
    transition: bottom .4s, background-color .4s, color .4s;
}

.gohome__button:hover {
    background-color: var(--main-color);
    color: var(--text-color);
}

/* DARK MODE */

.darkmode :is(.home__curved__arrow,
    .home__random__lines, .about__random__lines, .contact__curved__arrow) {
    filter: invert(1);
}

/* ----------------- BREAKPOINTS ----------------- */

/* For small devices */

@media screen and (max-width: 380px) {

    .home__name {
        font-size: var(--h1-font-size);
    }

    .home__perfil {
        width: 120px;
    }

    .home__social {
        left: -4.5rem;
    }

    .home__link {
        padding: .25rem;
    }

    .home__info {
        margin-top: 1.5rem;
    }

    .contact__card {
        width: 100%;
        margin: 0;
    }

    .contact__name {
        left: -2rem;
    }

}

/* For medium devices */

@media screen and (min-width: 576px) {

    .home__info {
        width: 340px;
    }

    .about__description {
        width: 340px;
    }

    .projects__container {
        grid-template-columns: 340px;
        justify-content: center;
    }

    .contact__mail {
        width: 480px;
        margin-left: auto;
        margin-right: auto;
    }

}

/* For large devices */

@media screen and (min-width: 1150px) {

    /* ----------------- NAV ----------------- */

    .nav {
        padding: 1.5rem 3rem;
        justify-content: space-around;
    }

    .nav a {
        font-size: var(--h3-font-size);
    }

    .nav__buttons {
        gap: 2.5rem;
    }

    .nav__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
        align-items: center;
    }

    .nav__name,
    .nav__link {
        font-size: var(--normal-font-size);
    }

    .contact__item {
        background-color: var(--black-color-light);
        padding: .75rem 1rem;
        transition: background-color .4s;
    }

    .contact__item:hover {
        background-color: var(--main-color);
    }

    .menu__icon {
        display: none;
    }


    /* ----------------- HOME ----------------- */

    .home__container {
        grid-template-columns: 50% 50%;
    }

    .home__name {
        font-size: 3.5rem;
    }

    .home__perfil {
        width: 280px;
        grid-row: span 2;
    }


    .home__info {
        align-self: flex-start;
        margin: 0 auto;
        gap: 3rem;
        font-size: var(--h2-font-size);
        width: 480px;
    }

    .home__curved__arrow,
    .home__random__lines {
        width: 100px;
    }

    .home__curved__arrow {
        width: 75px;
        top: 4rem;
        left: -10rem;
        rotate: 80deg;
    }

    .home__random__lines {
        bottom: 0;
        rotate: 20deg;
        left: -15rem;
    }

    .home__social {
        top: 0;
        right: -5rem;
        left: auto;
    }

    /* ----------------- ABOUT ----------------- */

    .about__container {
        justify-content: center;
        grid-template-columns: 50% 50%;
        align-items: center;
    }

    .about__name {
        font-size: var(--title-size);
        width: fit-content;
        align-self: flex-end;
        position: relative;
        order: 1;
    }

    .about__shadow {
        top: -2rem;
        left: 75%;
        height: 420px;
        z-index: 0;
    }

    .about__perfil {
        justify-self: center;
        width: 280px;
        grid-row: span 2;
        order: 0;
    }

    .about__random__lines {
        width: 100px;
        top: auto;
        bottom: 40%;
        right: -3.5rem;
    }

    .about__image {
        width: 280px;
    }

    .about__info {
        width: fit-content;
        align-self: start;
        justify-self: center;
        order: 2;
    }

    .about__description__1,
    .about__description__2 {
        font-size: var(--h3-font-size);
    }

    .about__description__1::after {
        top: .75rem;
        left: -1.5rem;
    }

    /* ----------------- SERVICES -----------------  */

    .services__container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 4rem;
        margin: 0 auto;
        max-width: 1020px;
    }

    .services__name {
        font-size: var(--title-size);
    }

    .services__card {
        height: 340px;
    }


    /* ----------------- PROJECTS -----------------  */

    .projects__container {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        max-width: 1020px;
        margin: 0 auto;
    }

    .projects__name {
        font-size: var(--title-size);
    }

}

/* Active Links */

.active {
    font-weight: var(--semibold-weight);
}

.active::after {
    width: 1rem;
}